<!-- HOMEPAGE TEMPLATE -->
<!DOCTYPE html>
<html>
    <head>
        <title>Weather app</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    </head>
    <body>

<!-- NAVBAR IN HEADER -->
    <header>
        <!-- Using continer to hold nav bar -->
        <div class="container">

            <i class='fas fa-cloud-rain'></i>
            <nav>
                <ul>
                    <li><a href = "#">Home</a></li>
                    <li><a href = "#">Your account</a></li>
                    <li><a href = "#">Sign Up</a></li>
                    <li><a href = "#">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

<!-- SEARCHBAR -->
        <div class="search">
            <form action="/" method="POST">
                <!-- Create search bar with text already in it -->
                <input name="city" type="text" placeholder="Enter a City" required>
                <button><i class="forecastButton"></i>Weather</button>
            </form>
            
        <% if(forecast !== null){ %> <!-- if user enters valid weather lcoation -->
            <p><%= forecast %></p>
        <% } %>

        <% if(error !== null){ %> <!-- if error isn't equal to nothing (if there's an error) -->
            <p><%= error %></p>
        <% } %>
            
        </div>
        <div id="app1"></div>
        <div class="search">
            <form action="/weather">
                <!-- Create forecast button to automatically take user to weather page -->
                <!-- <button><i class="forecastButton"></i>Weather</button> -->
            </form>
        </div>
        <!-- <script src="./weather.html"></script> -->
    </body>
</html>  