<!-- HOMEPAGE TEMPLATE -->
<!DOCTYPE html>
<html>

<head>
    <title>Weather app</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>

</head>

<body>

    <!-- NAVBAR IN HEADER -->

    <!-- Using continer to hold nav bar -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <!-- <i class='fas fa-cloud-showers-heavy' style='font-size:43px'></i> -->
        <!-- <i class='fas fa-sun' style='font-size:40px'></i> -->
        <i class='fas fa-cloud-sun' style='font-size:40px'></i>
        <ul>
            <li><a class="active" href="#">YOUR ACCOUNT</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">SIGN UP</a></li>
            <li><a href="#">LOGIN</a></li>
            <li><a href="#">LOGOUT</a></li>
            <!-- <li><a class="search-tag" href="#">SEARCH</a></li> -->
        </ul>
    </nav>

    <section></section>
    <!-- SEARCHBAR -->
    <div class="header">
        <div class="search">
            <form action="/" method="POST">
                <!-- Create search bar with text already in it -->
                <!-- <input name="city" type="text" placeholder="Enter any worlwide town or city" required>
            <button><i class="forecastButton"></i>Weather</button> -->
                <form>
                    <div class="form-box">
                        <label class="logo">WEATHER</label>
                        <input type="text" class="search-field" name="city"
                            placeholder="Enter any worlwide town or city" required>
                            <button class="btn-style"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </form>
        </div>
    </div>

    <% if(forecast !== null){ %>
    <!-- if user enters valid weather lcoation -->
    <p><%= forecast %></p>
    <% } %>

    <% if(error !== null){ %>
    <!-- if error isn't equal to nothing (if there's an error) -->
    <p><%= error %></p>
    <% } %>


    <div id="app1"></div>
    <div class="search">
        <form action="/weather">
            <!-- Create forecast button to automatically take user to weather page -->
            <!-- <button><i class="forecastButton"></i>Weather</button> -->
        </form>
    </div>

</body>

</html>