<!-- HOMEPAGE TEMPLATE -->
<!DOCTYPE html>
<html>

<head>
    <title>Weather app</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
    <!-- BEGINING OF NEW CODE -->
    <!-- refactoring - this is new code -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <script>
        $(function () {
            $("navbar").load("components/navbar.html");
        });
    </script> -->
    
    <!-- END OF  NEW CODE -->
</head>


<body>
    <!-- NEW CODE -->
    <!-- <div id="header"></div> -->

    <!-- NAVBAR IN HEADER -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <i class='fas fa-cloud-sun' style='font-size:40px'></i>
        <ul>
            <li><a class="active" href="#">YOUR ACCOUNT</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">SIGN UP</a></li>
            <li><a href="#">LOGIN</a></li>
            <li><a href="#">LOGOUT</a></li>
        </ul>
    </nav>

    <!-- SEARCHBAR -->
    <div class="header">
        <div class="search">
            <form action="/" method="POST">
                <!-- Create search bar with text already in it -->
                <form>
                    <div class="form-box">
                        <a class = "logo" href="/">WEATHER</a>
                        <input type="text" class="search-field" name="city"
                            placeholder="Enter any worlwide town or city" required>
                        <button class="btn-style"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </form>
        </div>
    </div>

    <div class="index-page">
        <h3>This is the body. Keep here for debugging purposes</h3>
    </div>
    <div></div>
    <% if(forecast !== null){ %>
    <!-- if user enters valid weather lcoation -->
    <p><%= forecast %></p>
    <% } %>

    <% if(error !== null){ %>
    <!-- if error isn't equal to nothing (if there's an error) -->
    <p><%= error %></p>
    <% } %>

    <div id="app1"></div>
    <div class="search">
        <form action="/weather">
        </form>
    </div>

    <!-- NEW CODE -->
    <!-- <div id="footer"></div> -->

</body>

</html>