<!-- WEATHER PAGE TEMPLATE -->
<!DOCTYPE html>
<html>

<head>
    <title>Weather app</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="search">
        <form action="/" method="POST">
            <!-- <input type="submit" value="Get Weather"> -->
            <!-- <input name="city" type="text" placeholder="Enter any global location" required> -->
        </form>
        <!-- <h3>Use the search bar to view the weather of any worldwide location</h3> -->
    </div>
    <div>
        <h1>Welcome to the Weather page!</h1>
    </div>
    <table>
        <tr>
            <th>Temp</th>
            <th>Humidity</th>
            <th>Date</th>
        </tr>
    </table>

    <div>
        <!-- Object.key gets all keys (object in array) in object -->
        <!-- for each key, list it temporaarily as a key -->
        <% Object.keys(weatherData[0]).forEach(key => { %>
        <!-- for each object in array, call it day -->
        <% weatherData[0][key].forEach(day => { %>
        <table>
            <tr>
                <!-- <td> -->
                    <td><%= day.main.temp %></td>
                    <td><%= day.main.humidity %></td>
                    <td><%= day.dt_txt %></td>
                <!-- </td> -->
            </tr>
        </table>
        <!-- <p>Feels like: <%= day.main.feels_like %></p> -->
        <% })%>
        <% }) %>
    </div>

    <div class="search">
        <form action="/">
            <!-- Create forecast button to automatically take user to homepage -->
            <!-- <button><i class="forecastButton"></i>Home</button> -->
        </form>
    </div>
</body>

</html>