*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  margin: 0;
  margin-top: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
/* INPUT BACKGROUND IMAGE */
.index-page{
 height: 600px;
}
nav{
 background-color: white;
 height: 68px;
 width: 100%;
}
/* STYLING WEATHER TITLE ON WEATHER PAGE*/
a.logo{
 color: black;
 font-size: 34.5px;
 line-height: 30px;
 font-weight: 1000;
  /* controls how far along searchbox is */
 margin-right: 10px;
 margin-left: -65px;
}
/* STYLING YOUR ACCOUNT, HOME, SIGN UP, LOGIN LINKS */
a.active, a:hover{
 color: grey;
 transition: 0.5s;
}
/* make navbar responsive */
@media (max-width: 900px ){
label.logo{
  font-size: 30px;
  padding-left: 50px;
}
nav ul li a{
  font-size: 16px;
}
}
/* STYLING WHEN PAGE GETS SMALLER */
@media (max-width: 100px ){
.checkbtn{
  display: block;
}
/* weather title */
label.logo{
  display: none;
}
/* search icon */
.fa-search{
  display: none;
}
.search-field{
  display: none;
}
}
/* SEARCH BAR BOX ON WEATHER PAGE*/
.form-box{
background-color: #b0d7ff;
height: 55px;
padding-top: 10px;
padding-left: 200px;
}
/* STYLE SEARCH FIELD INSIDE SEARCH BOX ON WEATHER PAGE */
.search-field{
height: 5.5vh;
width: 69%;
font-family: 'Montserrat', sans-serif;
padding-left: 9px;
border-width: 0ch;
font-size: 17px;
/* align text in center*/
text-align: center;
border-radius: 1px;
}
/* STYLE MAGNIFYING GLASS ICON */
.fa-search{
color: black;
border-radius: 5%;
}
.btn-style{
/* border-width: 20ch; */
background-color: #b0d7ff;
border-width: 0ch;
}
/* STYLE TABLE */
table {
width: 100%;
border-collapse: collapse;
overflow: hidden;
box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
/* MAIN BODY OF TABLE */
th,
td {
padding: 15px;
color: #5e5e5e;
}
th {
text-align: left;
}
/* HEAD OF TABLE WITH DATE, TEMP HEADINGS ETC*/
thead th {
background-color: #e0f0ff;
color: #5e5e5e;
font-size: 21px;
font-weight: bold;
height: 50px;
/* text-align: center; */
}
tbody tr:hover {
  background-color: rgba(255,255,255,0.3);
}
/* body of table with all values */
tbody td {
position: relative;
font-size: 21px;
text-align: center;
}
tbody td:hover::before {
content: "";
position: absolute;
left: 0;
right: 0;
top: -9999px;
bottom: -9999px;
z-index: -1;
}
/* BACKGROUND COLOUR OF WEATHER PAGE */
.weather-page{
background-color: #f0f0f0;
background-repeat: no-repeat;
background-attachment: fixed;
font-size: 13px;
}
.header-weather{
font-size: 18px;
margin-top: 10px;
margin-left: 450px;
margin-bottom: 5px;
}
/* STYLING HOMEPAGE NEW CODE */
.header1{
  height: 100vh;
  background-image: url(https://media.istockphoto.com/photos/blue-sky-picture-id527545230?b=1&k=6&m=527545230&s=612x612&w=0&h=BqnGhZQR9o0Tp1rzhBM5XHItDIdBBFLpLaE_nhksrqM=);
  /* https://images.unsplash.com/photo-1544829728-e5cb9eedc20e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60 */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* controls position of title and formbox */
.homepage-form-box{
  height: 125px;
  /* padding-left: 150px; */
  }
.title{
  color: black;
  padding-bottom: 20px;
  font-size: 75px;
  line-height: 30px;
  font-weight: 5000;
  letter-spacing: 3px;
  /* text-align: center; */
  padding-left: 136px;
}
.actual-field{
  height: 50px;
}
/* controls attributes inside search box */
.inner-form-box{
  background-color: whitesmoke;
  height: 60px;
  width: 500px;
  border: none;
  border-radius: 25px;
  outline: none;
  text-align: center;
  font-size: 21px;
  margin-left: 50px;
  margin-top: 25px;
  
}
/* styling search button with magnifying glass icon inside */
.search-btn{
  height: 40px;
  outline: none;
  width: 40px;
  border: none;
  border-radius: 25px;
  background-color: whitesmoke;
  cursor: pointer;
  margin-left: 10px;
}

