

  body{
    margin: 0;
    margin-top: 0;
    background-color: #c7dcff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
  .container{
    /* width of 80 stops it getting stuck at the side of the page */
    width: 85%;
    margin: 0 auto;
  }
  header{
    background-color: #ffffff;
  }
  /* clear-fix */
  header::after{
    content: '';
    display: table;
    clear: both;
  }
  nav {
    float: right;
  }
  /* select list inside navbar */
  nav ul {
    /* takes space off the top */
    margin: 0;
    padding: 0;
    /* removes bullet points from list items */
    list-style: none;
  }
  /* move list items so their next to eachother instead of on top */
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 18px;
  }
  /* logo */
  .fa-cloud-rain {
    float: left;
    padding: 10px 0;
    font-size: 35px; 
    color:#c2c2c2;
  }
  /* make links look better */
  nav a {
    color: #444;
    text-decoration: none;
    /* text-transform: lowercase; */
  }
  nav a:hover {
    color: #000;
  }
  /* Make whoel screen responsive */
  