<!-- NAVBAR IN HEADER -->
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <i class='fas fa-cloud-sun' style='font-size:40px'></i>
    <ul>
        <li><a class="active" href="#">YOUR ACCOUNT</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">SIGN UP</a></li>
        <li><a href="#">LOGIN</a></li>
        <li><a href="#">LOGOUT</a></li>
    </ul>
</nav>

<!-- SEARCHBAR -->
<div class="header">
    <div class="search">
        <form action="/" method="POST">
            <!-- Create search bar with text already in it -->
            <form>
                <div class="form-box">
                    <a class="logo" href="/">WEATHER</a>
                    <input type="text" class="search-field" name="city" placeholder="Enter any worlwide town or city"
                        required>
                    <button class="btn-style"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </form>
    </div>
</div>

<!-- <div class="header">
        <div class="search">
            <form action="/" method="POST">
                <form>
                    <h1>WEATHER</h1>
                    <div class="homepage-form-box">
                        <input type="text" class="homepage-search-field" placeholder="Search any worldwide location">
                        <button>search</button>
                    </div>
                </form>
            </form>
        </div>
    </div> -->