<!-- SEARCHBAR -->
<div class="header">
    <div class="search">
        <form action="/" method="POST">
            <!-- Create search bar with text already in it -->
            <form>
                <div class="form-box">
                    <a class="logo" href="/">Weather</a>
                    <input type="text" class="search-field" name="city" placeholder="Enter any worldwide town or city"
                        required>
                    <button class="btn-style"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </form>
    </div>
</div>
